$unit: 0.5rem;

$size-8: $unit;
$size-10: $unit * 1.25;
$size-12: $unit * 1.5;
$size-14: $unit * 1.75;
$size-16: $unit * 2;
$size-20: $unit * 2.5;
$size-24: $unit * 3;
$size-32: $unit * 4;
$size-40: $unit * 5;
$size-48: $unit * 6;
$size-56: $unit * 7;
$size-64: $unit * 8;
$size-72: $unit * 9;
$size-80: $unit * 10;
$size-88: $unit * 11;
$size-96: $unit * 12;

$size-container-large: 1280px;