@import "../../css/typography";
@import "../../css/breakpoints";

body {
  font-family: "ceraPro-Regular", sans-serif;
  padding-top: 0;
}
svg {
  width: 50%;
}
a:link {
  color: rgb(71, 173, 235);
  text-decoration: none !important;
}
#svg_icons {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
}
.img_navbar {
  width: auto;
  height: 32px;
}
.squareBg1 {
  background-color: rgb(251, 251, 251);
}

.squareBg {
  background-color: rgb(245,245,245);
}

.mainSection .row .col-12 {
  padding: 32px;
}

.mainSection .row #main_card {
  padding: 32px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#link_footer {
  justify-content: space-between;
}

#link_footer h6 {
  font-size: 14px;
  text-align: center;
}

@media only screen and(max-width:425px) {
  .squareBg {
    margin: 8px 0 !important;
  }

  #link_footer {
    flex-direction: column;
    align-items: center;
    .col-2 {
      width: 100%;
    }
  }
}

@media only screen and(min-width:1024px) {
  .mainSection .row .col-12 {
    padding: 32px 64px;
  }
  body {
    padding-top: 48px;
  }
  .mainSection .row .col-12 {
    padding: 32px 64px;
  }
  
  .mainSection .row #main_card {
    padding: 32px;
  }
}

// @media only screen and(min-width:320px) {
//   .img_navbar {
//     width: 60%;
//   }
//   #link_footer {
//     width: 85%;
//   }
// }
// @media only screen and(min-width:426px) {
//   .img_navbar {
//     width: 30%;
//   }
//   #link_footer {
//     width: 85%;
//   }
// }
// @media only screen and(min-width: 768px) {
//   .img_navbar {
//     width: 35%;
//   }
//   #link_footer {
//     width: 100%;
//   }
// }
// @media only screen and(min-width: 1024px) {
//   .img_navbar {
//     width: 20%;
//   }
//   #link_footer {
//     width: 100%;
//   }
// }
// @media only screen and(min-width: 1440px) {
//   .img_navbar {
//     width: 30%;
//   }
//   #link_footer {
//     width: 100%;
//   }
// }
