<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SitoLego/components/facebookIcon/style.css">
    <title>Facebook</title>
</head>
<body>

    <div class="social-div">
        <a href=""></a>
       <img class="facebook" src="/SitoLego/components/facebookIcon/facebook.icon.svg" alt="facebook icon" height="40px" width="40px"> 
    </div>



</body>
</html>