@import '../../main.scss';
@import '../../components/colorSwatch/colorSwatch.scss';
@import '../../components/starRating/starRating.scss';
@import '../../components/inputEmailSubscription/inputEmailSubscription.scss';
@import '../../components/button-aggiungi al carrello/button-ag.scss';
@import '../../components/Bottone\ W-B/bottonewb-style.scss';

$aside-width-size: 20%;

body.designsystem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
}

.designsystem_aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $aside-width-size;
  background-color: white;
  padding: 1rem;
  padding-top: 2rem;
  overflow-y: auto;

  header {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    h6 {
      color: black;
      @include headline-600(bold);
    }
  }// Header

  ul {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    font-family: monospace;

    & > li {
      padding: $size-16 0;
    }

    & > li:nth-child(1) > a,
    & > li:nth-child(1) ol li {
      color: var(--pink-500);
    }

    & > li:nth-child(2) > a,
    & > li:nth-child(2) ol li {
      color: var(--blue-500);
    }

    & > li:nth-child(3) > a,
    & > li:nth-child(3) ol li {
      color: var(--green-500);
    }

    & > li > a {
      font-size: $size-16;
      color: black;
      font-weight: bold;
    }

    a {
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }// Ul

  ol {
    display: flex;
    flex-direction: column;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;

    li:first-child {
      padding-top: $size-16;
    }

    li {
      font-size: $size-14;
      padding: $size-8 0;
      font-weight: bold;
    }

    li a {
      color: var(--blue-grey-500);
      color: black;
      font-weight: normal;
    }
  }
}// Design System aside

.designsystem_main {
  display: flex;
  flex-direction: column;
  width: calc(100% - $aside-width-size);
}

.designsystem_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid black;
  padding: $size-48 0;
}

.designsystem_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 940px;
  padding: 0 $size-48;
}

.designsystem_header {
  display: flex;
  flex-direction: column;
  padding: $size-16;
  // margin-top: $size-48;

  h1 {
    @include headline-400(bold);
    padding: $size-16 0;
  }

  p {
    font-size: $size-16;
    line-height: 1.4;
    font-family: monospace;
    padding-top: $size-16;
  }
}

.designsystem_content {
  display: flex;
  flex-direction: column;
  margin: $size-32 0;
}

.designsystem_content--header {
  padding: $size-16;
  margin: $size-16 0;
  h2 {
    @include headline-600(bold);
    color: black;
  }
}

.designsystem_content--ul[data-highlight] {
  margin: $size-16;
  padding: $size-32;
}

.designsystem_content--ul[data-highlight="light"] {
  border: 1px solid black;
}

.designsystem_content--ul[data-highlight="dark"] {
  background-color: var(--codeAccademy-navy);
}

.designsystem_content--ul[data-flex=row] {
  flex-wrap: wrap;
}

.designsystem_content--li {
  padding: $size-16;
}

.designsystem_content--li[data-width=size1] {
  flex-basis: 100%;
}

.designsystem_content--li[data-width=size2] {
  flex-basis: 50%;
}

.designsystem_content--li[data-width=size3] {
  flex-basis: 33.33%;
}

.designsystem_content--li[data-width=size4] {
  flex-basis: 25%;
}

.designsystem_content--li[data-width=size5] {
  flex-basis: 20%;
}

.designsystem_form {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  label {
    font-size: $size-14;
    font-weight: bold;
    padding: $size-16 0;
    color: black;
  }
  textarea {
    width: 100%;
    background-color: var(--blue-grey-50);
    border-radius: 8px;
    padding: $size-32;
    font-size: $size-14;
    color: var(--blue-grey-500);
  }
}

// *********************************************************************** Section Colors
.designsystem_section--colors {
  border-color: var(--pink-500);

  .designsystem_header h1,
  .designsystem_content--header h2 span {
      color: var(--pink-500);
  }
}

// *********************************************************************** Section Typography
.designsystem_section--typography {
  border-color: var(--blue-500);

  .designsystem_header h1,
  .designsystem_content--header h2 span {
      color: var(--blue-500);
  }

  .designsystem_content--li {
    &:hover {
      .designsystem_typography--details {
        opacity: 1;
      }
    }
  }

  h1.headline {
    @include headline-100(bold);
  }

  h2.headline {
    @include headline-200(bold);
  }

  h3.headline {
    @include headline-300(medium);
  }

  h4.headline {
    @include headline-400(medium);
  }

  h5.headline {
    @include headline-500(medium);
  }

  h6.headline {
    @include headline-600(medium);
  }

  h6.subtitle {
    @include subtitle-100();
  }

  p.body-1 {
    @include body-100();
  }

  p.body-2 {
    @include body-200();
  }

  p.caption-1 {
    @include caption-100(bold);
  }

  .designsystem_typography--details {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    color: var(--blue-grey-500);
    font-size: $size-14;
    padding-top: $size-16;
    padding-bottom: $size-16;
    opacity: 0.5;

    li {
      padding-right: $size-56;
    }

    h6 {
      color: black;
      font-weight: bold;
      padding-top: $size-8;
    }
  }
}

// *********************************************************************** Section Components
.designsystem_section--components {
  border-color: var(--green-500);
  
  .designsystem_header h1,
  .designsystem_content--header h2 span,
  .designsystem_form label {
      color: var(--green-500);
  }
}

// *********************************************************************** Section Design System Structure
.designsystem_structure h1,
.designsystem_structure h2,
.designsystem_structure p {
  border: 2px dotted var(--codeAccademy-indigo);
  padding: $size-16;
}