.productCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.productCard-display {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.productCard-badges {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;

  .productCard-badge {
    display: flex;
    flex-direction: column;
    padding: $size-8;
    padding-right: 0;
    @include body-200(medium);
    font-size: 12px;

    span, strong {
      padding: $size-8;
    }

    span {
      background-color: var(--lego-yellow);
      color: black;
      line-height: 1;
    }

    strong {
      background-color: var(--red-500);
      color: white;
      line-height: 1;
    }
  }

}

.productCard-imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $size-32;
  z-index: 1;
  transition: all 0.5s ease-out;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.productCard-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.productCard-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
  align-self: flex-start;
  padding: $size-8 0;
  color: black;
  @include body-100(medium);
  &:hover {
    text-decoration: underline;
  }
}

.productCard-ratings{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: $size-8 0;
  width: 30%;
}

.productCard-price {
  display: flex;
  flex-direction: column;
  @include subtitle-100(bold);
}

.productCard-button {
  display: flex;
  flex-direction: column;
  margin-top: $size-16;
}

[data-card=template1] {
  background-color: transparent;
  .productCard-content {
    padding-top: $size-8;
  }
  .productCard-display {
    border: 1px solid var(--grey-300);
  }
}

[data-card=template2] {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
  .productCard-display {
    border-bottom: 1px solid var(--grey-300);
  }
  .productCard-content {
    padding: $size-16;
  }
  .productCard-title {
    padding-top: 0;
  }
}

@media only screen and (min-width: $mobile-large) {
  .productCard-imgContainer {
    padding: $size-16;
  }
  .productCard-display:hover {
    .productCard-imgContainer {
      padding: 0;
    }
  }   
}