<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css" type="text/css">
  <title>Product Card</title>
</head>
<body>
  <!--
  Template options:
  1. data-skeleton-"true" = Visualizza lo scheletro del template mostrando i bordi al suo interno;
  2. data-card="template1" = Visualizza Template 1 della card (Senza contenitore);
  3. data-card="template2" = Visualizza Template 2 della card (Con contenitore);
  -->

  <!-- ======================================================== Product card -->
  <div class="productCard" data-card="template1" data-skeleton="false">
    <div class="productCard-display">
      <div class="productCard-badges">
        <div class="productCard-badge"><span>Novità</span></div>
        <div class="productCard-badge"><strong>-40%</strong></div>
      </div>
      <a class="productCard-imgContainer" href="">
        <img src="https://www.lego.com/cdn/cs/set/assets/bltdcfa4924bc8abd0a/21335.png?fit=bounds&format=png&width=320&height=320&dpr=2" alt="Product image">
      </a>
    </div>
    <div class="productCard-content">
      <a href="" class="productCard-title">Product title</a>
      <div class="productCard-ratings">
        <!-- Component Star Ratings -->
        <div class="starRatings" data-rating="star-2.5">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 250 50">
            <g id="Layer_1-2" data-name="Layer 1">
              <path class="cls-1" d="M200,0H0V50H250V0h-50ZM39.83,47.83l-14.83-7.8-14.83,7.8,2.83-16.52L1,19.61l16.58-2.41L25,2.17l7.42,15.03,16.58,2.41-12,11.7,2.83,16.52Zm50,0l-14.83-7.8-14.83,7.8,2.83-16.52-12-11.7,16.58-2.41,7.42-15.03,7.42,15.03,16.58,2.41-12,11.7,2.83,16.52Zm50,0l-14.83-7.8-14.83,7.8,2.83-16.52-12-11.7,16.58-2.41,7.42-15.03,7.42,15.03,16.58,2.41-12,11.7,2.83,16.52Zm50,0l-14.83-7.8-14.83,7.8,2.83-16.52-12-11.7,16.58-2.41,7.42-15.03,7.42,15.03,16.58,2.41-12,11.7,2.83,16.52Zm50,0l-14.83-7.8-14.83,7.8,2.83-16.52-12-11.7,16.58-2.41,7.42-15.03,7.42,15.03,16.58,2.41-12,11.7,2.83,16.52Z"/>
            </g>
          </svg>
        </div>
      </div>
      <h6 class="productCard-price">$599.99</h6>
      <div class="productCard-button">
        <!-- Component Add to cart button -->
        <button class="buttonATC" data-size="large" data-theme="orange">Aggiungi al Carrello</button>
      </div>
    </div>
  </div><!-- Product Card -->
</body>
</html>