@import "../../css/typography";
@import "../../css/breakpoints";

body {
  font-family: "ceraPro-Regular", sans-serif;
}
svg {
  width: 50%;
}
#navbar {
  display: flex;
  justify-content: space-around;
}
a:link {
  color: rgb(71, 173, 235);
  text-decoration: none !important;
}
#svg_icons {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
}
.img_navbar {
  width: 20%;
}
.navbar-brand {
  width: 50%;
}
.col-12 {
  background-color: rgb(251, 251, 251) !important;
}

@media only screen and(min-width:320px) {
  .img_navbar {
    width: 60%;
  }
  #link_footer {
    width: 85%;
  }
}
@media only screen and(min-width:426px) {
  .img_navbar {
    width: 30%;
  }
  #link_footer {
    width: 85%;
  }
}
@media only screen and(min-width: 768px) {
  .img_navbar {
    width: 35%;
  }
  #link_footer {
    width: 100%;
  }
}
@media only screen and(min-width: 1024px) {
  .img_navbar {
    width: 20%;
  }
  #link_footer {
    width: 100%;
  }
}
@media only screen and(min-width: 1440px) {
  .img_navbar {
    width: 30%;
  }
  #link_footer {
    width: 100%;
  }
}
