.articleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .articleCard-imgContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: $size-16;
    .articleCard-img {
      width: 100%;
      height: auto;
    }
  }

  &[data-position=left] .articleCard-imgContainer {
    align-items: flex-start;
  }
  &[data-position=right] .articleCard-imgContainer {
    align-items: flex-end;
  }

  .articleCard-logoContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25%;
    z-index: 1;
    padding: $size-8;
    img {
      max-width: 100px;
      max-height: 100%;
    }
  }

  h3 {
    @include subtitle-100(medium);
    color: black;
    margin: $size-8 0;
  }

  p {
    @include body-100(regular);
    color: black;
    margin: $size-8 0;
  }

  .buttonPrimary {
    margin-top: $size-16;
  }
}

@media only screen and (min-width: $tablet) {
  .articleCard .articleCard-logoContainer {
    height: 25%;
  }
}