<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Card</title>
  <link rel="stylesheet" href="../styles.css" type="text/css">
</head>
<body>
  <!--
    Template Options:

    Align logos inside the Image Container
    1. data-position="left"
    2. data-position="left"
  -->
  <!-- ========================================================== Article Card-->
  <div class="articleCard" data-position="right">
    <a class="articleCard-imgContainer" href="">
      <img class="articleCard-img" src="https://www.lego.com/cdn/cs/set/assets/blt234264b132e705b2/T3-Star-Wars-202202-Block-Standard.jpg?fit=crop&format=jpg&quality=80&width=635&height=440&dpr=1">
      <div class="articleCard-logoContainer">
        <img src="https://www.lego.com/cdn/cs/set/assets/bltc87b4d0a757a6632/harryPotter_logo_gold_neg_100h.png?format=png&height=60&dpr=2">
        <img src="https://www.lego.com/cdn/cs/set/assets/blt4fb1c3a4e8917247/wizardingWorld_logo_gold_300w.png?format=png&height=60&dpr=2" alt="">
      </div>
    </a>
    <h3>Article card title</h3>
    <p>Lorem ipsum dolor sit amet.</p>
    <!-- Component Button Primary -->
    <a href="" class="buttonPrimary" data-size="large" data-theme="none">
      <span>Compra ora</span>
      <svg viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
      </svg>
    </a>
  </div><!-- Article Card -->
  
</body>
</html>