<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SitoLego/components/lego-component/style.css">
    <title>Document</title>
</head>
<body>
    <ul>
        <li class="display-images">
    <picture class="picture-list">
        <source media="(max-width:900px)" srcset="small-lego.jpeg" width="51.65px" height="41.96px">
        <img src="./lego.jpeg" alt="lego immage" width="80px" height="65px">
    </picture>
    <a href="#novità" id="novità">Novità</a>
    </li>
    
</ul>
</body>
</html>



