<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Swatch 1</title>
    <link rel="stylesheet" href="colorSwatch.css" type="text/css">
  </head>
  <body>
    <!-- Component Color Swatch 100
    This component takes two versions by changing the data-type on div.colorSwatch:
    A: data-type="line"
    B: data-type="square"
    -->
    <div class="colorSwatch" data-type="line" data-color="color-100" data-contrast="light">
      <div class="colorSwatch--description">
        <h5 class="colorSwatch--description--title">Lego Red</h5>
        <h6 class="colorSwatch--description--subtitle">#000000</h6>
      </div>
    </div>

  </body>
</html>