<html lang="en" data-display="mobile">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Email Subscription</title>
    <link rel="stylesheet" href="inputEmailSubscription.css" type="text/css">
  </head>
  <body>
    <!-- Component Input Email Subscription -->
    <form class="inputEmailSubscription">
      <input type="email" placeholder=" ">
      <h6>Il tuo indirizzo e-mail</h6>
      <button type="submit">
        <svg viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="Icon__StyledSVG-lm07h6-0 kNvokt"><path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path></svg>
      </button>
      <div class="inputEmailSubscription--focus"></div>
    </form>
  </body>
</html>