.navBar {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
}

.navBar-row1 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: $size-48;
  padding: 0 $size-8;
  background-color: var(--grey-100);
}

.navBar-row1-col1,
.navBar-row1-col3 {
  display: none;
  height: 100%;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $size-8;
  }
}

.navBar-row1-col2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $size-8;
  }

  li:nth-child(2) {
    font-size: $size-12;
  }

  li:first-child svg {
    transform: rotate(-180deg);
  }

  svg {
    width: $size-10;
    height: auto;
  }

  p {
    text-align: center;
    line-height: 1.4;
    a {
      text-decoration: none;
      color: var(--lego-blue);
    }
  }
}

.navBar-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: $size-56;
  padding: 0 $size-8;
  background-color: white;
  border-bottom: 2px solid var(--lego-yellow);
}

.navBar .navBarLogo img {
  width: $size-40;
  height: auto;
}

.navBar-row2-col1,
.navBar-row2-col2,
.navBar-row2-col3 {
  display: flex;
  flex-direction: row;
}

.navBar-row2-col2,
.sideBar,
.navBarOverlay {
  display: none;
}

.navBar-row2-col1,
.navBar-row2-col3 {
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $size-8;
  }
}

@media only screen and (min-width: $laptop) {
  $menuLeftOffset: $size-56;

  .navBar-row1 {
    flex-direction: row;
    align-items: center;
    height: $size-56;
    padding: 0 $size-32;
  }

  .navBar-row1-col1,
  .navBar-row1-col3 {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
  }

  .navBar-row1-col2 {
    flex-basis: 60%;
    justify-content: center;

    li:nth-child(2) {
      padding: 0 $size-48;
    }
  }

  .navBar-row1-col3 {
    justify-content: right;
  }

  .navBar-row2 {
    height: $size-80;
    padding: 0 $size-32;
    background-color: var(--lego-yellow);

    .navBarLogo img {
      width: $size-56;
    }
  }

  .navBar-row2-col1 li:first-child {
    display: none;
  }

  .navBar-row2-col1 {
    z-index: 10;
  }

  .navBar-row2-col2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    z-index: 10;
  }

  .navBar-menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-shrink: 0;
    .navBar-menuItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 $size-24;
    }
    .navBar-menuItem:first-child {
      padding-left: $menuLeftOffset;
    }
    .navBar-menuItem a {
      position: relative;
      text-decoration: none;
      color: black;
      @include body-100(medium);
      text-transform: uppercase;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 3px;
        background-color: black;
        display: none;
      }
      &.active::after {
        display: block;
      }
    }
    .navBar-menuItem a:hover {
      text-decoration: none;
      color: black;
      &::after {
        display: block;
      }
    }
    .navBar-menuItem a.navBarButton {
      background-color: white;
      color: var(--red-500);
      padding: $size-8 $size-16;
      border-radius: 4px;
    }
    .navBar-menuItem a.navBarButton:hover {
      background-color: black;
      color: white;
      text-decoration: none;
      &::after{
        display: none;
      }
    }
  }

  @keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
  }

  .navBar-subMenu-container {
    display: none;
    flex-direction: row;
    opacity: 0;
    padding: $size-16 0;
    align-self: flex-start;
    &.active {
      display: flex;
      animation: fadeIn 0.66s ease-out forwards;
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 300px;
    }
    ul.navBar-subMenu-left {
      padding: 0 $size-48;
      padding-left: $menuLeftOffset;
    }
    ul.navBar-subMenu-right {
      padding: 0 $size-48;
      border-left: 1px solid rgba(0,0,0,0.15);
      display: none;
      &.subActive {
        display: flex;
        animation: fadeIn 0.5s ease-out forwards;
      }

      li:first-child {
        text-transform: uppercase;
      }
    }
    ul li {
      display: flex;
      flex-direction: row;
      padding: $size-8 0;
      &:first-child {
        padding-top: 0;
      }
    }
    ul li a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      @include body-100(regular);
      color: black;
      position: relative;
    }
    ul li a:hover {
      text-decoration: underline;
      color: var(--lego-blue);
    }
    ul li a {
      justify-content: space-between;
    }
    ul li a.subActive {
      text-decoration: underline;
      color: black;
    }
    ul li a.navBar-subMenu-linkExpand {
      flex-grow: 1;
    }
    ul li a span {
      flex-grow: 1;
    }
    ul li a svg {
      width: $size-8;
      height: auto;
      color: rgba(0,0,0,0.5);
      margin-left: $size-16;
    }
  }

  .navBar-row2-col3 {
    li {
      padding: 0 $size-16;
    }
    li:last-child {
      padding-right: $size-8;
    }

    li:nth-child(2) {
      display: none;
    }
  }

  .sideBar {
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transform: translate3d(0);
    overflow-x: hidden;
    justify-content: right;
    a.sideBarClose {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      background-color: white;
      cursor: pointer;
      width: $size-96;
      height: $size-80;
      align-items: center;
      justify-content: center;
      transform: translate3d(0);
      svg {
        color: rgba(0,0,0,0.5);
      }
      &:hover svg {
        color: black;
      }
    }
    &.active {
      display: flex;
      @keyframes slideIn {
        0% {
          width: 0;
          box-shadow: 0 0 0 rgba(0,0,0,0);
        }
        100% {
          width: calc(704px + 80px);
          box-shadow: 0 0 $size-96 rgba(0,0,0,0.5);
        }
      }
      animation: slideIn 0.3s ease-in-out forwards;
    }
  }
  .navBarOverlay {
    display: none;
    position: fixed;
    // background-color: rgba(255,255,255,0.25); 
    background-color: rgba(0,0,0,0.75); 
    // -webkit-backdrop-filter: blur(25px);
    // backdrop-filter: blur(25px);
    // background-blend-mode: overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translate3d(0);
    cursor: pointer;
    &.active {
      display: block;
      animation: fadeIn 0.3s ease-in-out forwards;
    }
  }
}