<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="../styles.css" link="text/css">
</head>
<body>
  
  <!-- ************************************************************************** Navbar -->
  <nav class="navBar" data-skeleton="true">
    <div class="navBar-row1">
      <ul class="navBar-row1-col1">
        <li>Link</li><!-- Area giochi -->
      </ul>
      <ul class="navBar-row1-col2">
        <li>
          <svg viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </li>
        <li>
          <p>Omaggio con gli acquisti LEGO® superiori a 90 €* <a href="">Compra ora</a></p>
        </li>
        <li>
          <svg viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </li>
      </ul>
      <ul class="navBar-row1-col3">
        <li>Li 1</li><!-- Profile/Avatar -->
        <li>Li 2</li><!-- VIP -->
      </ul>
    </div>
    <div class="navBar-row2">
      <ul class="navBar-row2-col1">
        <li>Menu</li><!-- Hamburger Menu -->
        <li class="navBarLogo">
          <img src="../../assets/images/logo.svg" alt="Logo">
        </li><!-- Lego logo -->
      </ul>
      <ul class="navBar-row2-col2">
        <li>
          <a href="">Acquista</a>
        </li>
        <li>
          <a href="">Scopri</a>
        </li>
        <li>
          <a href="">Aiuto</a>
        </li>
        <li>
          <a class="navBarButton" href="">Natale</a>
        </li>
      </ul>
      <ul class="navBar-row2-col3">
        <li>Li 1</li><!-- Search icon -->
        <li>Li 2</li><!-- Avatar/Profile -->
        <li>Li 3</li><!-- Heart icon -->
        <li>Li 4</li><!-- Shopping icon -->
      </ul>
    </div>
  </nav>

</body>