<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="../styles.css" type="text/css">
</head>
<body>

  <footer class="footer" data-skeleton="false">
    <div data-container="large">
      <section class="footer-aside-siteMap">
        <aside class="footer-aside">
          <header class="footer-aside-header">
            <div class="footer-aside-header-item">
      
              <img src="../../assets/images/logo.svg" alt="Image of Logo">
            </div>
            <div class="footer-aside-header-item">
              <button class="footer-button-country">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 24" aria-hidden="true" class="Icon__StyledSVG-sc-lm07h6-0 gVioTP RegionSelectorstyles__PointerIcon-sc-14dxhlg-2 izbKLk">
                <path d="M8.303.89c2.065 0 3.92.818 5.258 2.156a7.391 7.391 0 012.156 5.257c0 4.906-5.485 11.795-7.414 14.066C6.373 20.097.89 13.21.89 8.303c0-2.065.818-3.92 2.156-5.257A7.391 7.391 0 018.303.89zm0 3.558a3.84 3.84 0 00-2.734 1.12 3.84 3.84 0 00-1.12 2.735 3.84 3.84 0 001.12 2.735 3.84 3.84 0 002.734 1.12 3.84 3.84 0 002.735-1.12 3.84 3.84 0 001.12-2.735 3.84 3.84 0 00-1.12-2.734 3.84 3.84 0 00-2.735-1.12z" stroke="currentColor" stroke-width="1.779" fill="none"></path>
              </svg>
              <div class="footer-aside-header-item-italia">Italia</div>
            </button>
            </div>
      
          </header>
          <div class="footer-aside-link">
            <a href="" class="footer-link"><span>Cataloghi LEGO</span></a>
            <a href="" class="footer-link"><span>Trova un negozio LEGO</span></a>
          </div>
          <div class="footer-marketing">
            <h6 class="footer-h6">Email marketing title</h6>
            <div class="footer-marketing-email">Input field</div>
          </div>
        </aside>
        <ul class="footer-siteMap-ul">
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">Chi siamo</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">Informazioni su LEGO Group</a>
                </li>
                <li>
                  <a href="" class="footer-link">Sala stampa LEGO®</a>
                </li>
                <li>
                  <a href="" class="footer-link">Sostenibilità</a>
                </li>
                <li>
                  <a href="" class="footer-link">Dichiarazione sulla trasparenza della catena di fornitura</a>
                </li>
                <li>
                  <a href="" class="footer-link">Certificazioni dei prodotti LEGO</a>
                </li>
                <li>
                  <a href="" class="footer-link">Carriere LEGO</a>
                </li>
                <li>
                  <a href="" class="footer-link">Segnalazioni sulla conformità LEGO</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">Supporto</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">Contattaci</a>
                </li>
                <li>
                  <a href="" class="footer-link">Istruzioni</a>
                </li>
                <li>
                  <a href="" class="footer-link">Parti mancanti</a>
                </li>
                <li>
                  <a href="" class="footer-link">Spedizione e resi</a>
                </li>
                <li>
                  <a href="" class="footer-link">Modalità di pagamento</a>
                </li>
                <li>
                  <a href="" class="footer-link">Termini e condizioni</a>
                </li>
                <li>
                  <a href="" class="footer-link">Richiamo prodotti</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">ATTRAZIONI</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">LEGO® House</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGOLAND® Parks</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGOLAND Discovery Center</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">ALTRE INFORMAZIONI</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">LEGO® LIFE</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGO Education</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGO Ideas</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGO Foundation</a>
                </li>
                <li>
                  <a href="" class="footer-link">Programma di affiliazione</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </section>
      <section class="footer-social-marketing">
        
        <div class="footer-marketing">
          <h6 class="footer-h6"></h6>
          <div class="footer-marketing-email"></div>
        </div>
        <div class="footer-social">
          <h6 class="footer-h6">SEGUICI</h6>
          <ul class="footer-social-links">
            <li><a href=""><img class="footer-social-media-icon" src="https://www.lego.com/_next/static/images/facebook-895fba5a20c4facacb9655dade1d256c.svg" alt=""></a></li>
            <li><a href=""><img class="footer-social-media-icon" src="https://www.lego.com/_next/static/images/twitter-1e56a60f172faa3c81bfdd93bc099416.svg" alt=""></a></li>
            <li><a href=""><img class="footer-social-media-icon" src="https://www.lego.com/_next/static/images/instagram-e47f0d4b15ff76083b415be91e96f43b.svg" alt=""></a></li>
            <li><a href=""><img class="footer-social-media-icon" src="https://www.lego.com/_next/static/images/youtube-c51b2c62583921aae813fdc55df5f9d2.svg" alt=""></a></li>
          </ul>
        </div>
      </section>
      <section class="footer-privacy-copyright">
        <div class="footer-privacy">
          <a href="">Informativa sulla privacy</a>
          <a href="">Cookie</a>
          <a href="">Informativa legale</a>
          <a href="">Termini d'uso</a>
          <a href="">Accessibilità</a>
          <a href="">Impostazioni dei cookie</a>
        </div>
        <div class="footer-copyright">
          <p>LEGO System A/S, DK-7190 Billund, Denmark. Per effettuare acquisti online è necessario essere maggiorenni. LEGO, il logo LEGO, la Minifigure, DUPLO, LEGENDS OF CHIMA, NINJAGO, BIONICLE, MINDSTORMS e MIXELS sono marchi registrati e copyright di LEGO Group. ©2022 The LEGO Group. Tutti i diritti riservati. L'uso di questo sito implica l'accettazione dei Termini d’uso.</p>
        </div>
      </section>
    </div>
  </footer>

</body>
</html>