<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="../styles.css" type="text/css">
</head>
<body>
  <footer class="footer" data-skeleton="false">
    <div data-container="large">
      <section class="footer-aside-siteMap">
        <aside class="footer-aside">
          <header class="footer-aside-header">
            <div class="footer-aside-header-item">
              <img src="../../assets/images/logo.svg" alt="Image of Logo">
            </div>
            <div class="footer-aside-header-item">Paese</div>
          </header>
          <div class="footer-aside-link">
            <a href="" class="footer-link">Link</a>
          </div>
          <div class="footer-marketing">
            <h6 class="footer-h6">Email marketing title</h6>
            <div class="footer-marketing-email">Input field</div>
          </div>
        </aside>
        <ul class="footer-siteMap-ul">
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">Chi siamo</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">Informazioni su LEGO Group</a>
                </li>
                <li>
                  <a href="" class="footer-link">Sala stampa LEGO®</a>
                </li>
                <li>
                  <a href="" class="footer-link">Sostenibilità</a>
                </li>
                <li>
                  <a href="" class="footer-link">Dichiarazione sulla trasparenza della catena di fornitura</a>
                </li>
                <li>
                  <a href="" class="footer-link">Certificazioni dei prodotti LEGO</a>
                </li>
                <li>
                  <a href="" class="footer-link">Carriere LEGO</a>
                </li>
                <li>
                  <a href="" class="footer-link">Segnalazioni sulla conformità LEGO</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">Supporto</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">Contattaci</a>
                </li>
                <li>
                  <a href="" class="footer-link">Istruzioni</a>
                </li>
                <li>
                  <a href="" class="footer-link">Parti mancanti</a>
                </li>
                <li>
                  <a href="" class="footer-link">Spedizione e resi</a>
                </li>
                <li>
                  <a href="" class="footer-link">Modalità di pagamento</a>
                </li>
                <li>
                  <a href="" class="footer-link">Termini e condizioni</a>
                </li>
                <li>
                  <a href="" class="footer-link">Richiamo prodotti</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">ATTRAZIONI</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">LEGO® House</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGOLAND® Parks</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGOLAND Discovery Center</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="footer-siteMap-li">
            <details open>
              <summary>
                <h6 class="footer-h6">ALTRE INFORMAZIONI</h6>
                <svg class="arrow" viewBox="0 0 18 28" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
                </svg>
              </summary>
              <ul>
                <li>
                  <a href="" class="footer-link">LEGO® LIFE</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGO Education</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGO Ideas</a>
                </li>
                <li>
                  <a href="" class="footer-link">LEGO Foundation</a>
                </li>
                <li>
                  <a href="" class="footer-link">Programma di affiliazione</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </section>
      <section class="footer-social-marketing">
        <div class="footer-marketing">
          <h6 class="footer-h6">Email marketing title</h6>
          <div class="footer-marketing-email">Input field</div>
        </div>
        <div class="footer-social">
          <h6 class="footer-h6">Social media title</h6>
          <ul class="footer-social-links">
            <li><a href="">Sm 1</a></li>
            <li><a href="">Sm 2</a></li>
            <li><a href="">Sm 3</a></li>
            <li><a href="">Sm 4</a></li>
          </ul>
        </div>
      </section>
      <section class="footer-privacy-copyright">
        <div class="footer-privacy">
          <a href="">Link 1</a>
          <a href="">Link 2</a>
          <a href="">Link 3</a>
          <a href="">Link 4</a>
          <a href="">Link 5</a>
          <a href="">Link 6</a>
          <a href="">Link 7</a>
        </div>
        <div class="footer-copyright">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, architecto cumque voluptate facilis cupiditate mollitia assumenda est porro ipsa officia dolores neque modi repellat. Explicabo id sequi enim aperiam dolorum?</p>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>