.buttonATC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  outline: 0;
  color: black;
  border-radius: 4px;
  @include body-100(medium);
  line-height: 1;
  cursor: pointer;
  &[data-theme=orange] {
    background-color: var(--lego-orange);
    border-color: var(--lego-orange);
    color: black;
  }
  &[data-theme=red] {
    background-color: var(--lego-red);
    border-color: var(--lego-red);
    color: white;
  }
  &:hover {
    background-color: transparent;
    color: black;
  }
  &[data-size=small] {
    padding: $size-10 $size-16;
  }
  &[data-size=large] {
    padding: $size-20;
  }
}