/* =========================================================== Template 300 */
.quickLinks {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $size-8;

    li {
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      padding: $size-8;
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        text-decoration: underline;
        color: var(--lego-blue);
      }
      h6 {
        @include body-200(medium);
        padding: $size-8 0;
      }
    }
  }

  @media only screen and (min-width: $mobile-large) {
    ul {
      justify-content: center;
    }
    ul li {
      flex-basis: 20%;
      width: 20%;
      padding: $size-8 $size-16;
    }
    ul li img {
      margin-bottom: $size-16;
    }
    ul li h6 {
      padding: 0;
    }
  }

  @media only screen and (min-width: $tablet) {
    section[data-container=large] {
      max-width: $laptop;
    }
    ul {
      flex-wrap: nowrap;
      padding: 0;
    }
    ul li {
      flex-basis: 12.5%;
      width: auto;
      margin: $size-16;
      padding: 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}