<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quick Links</title>
  <link rel="stylesheet" href="../styles.css" type="text/css">
</head>
<body>
  <!-- ************************************************************************** Quick Links -->
  <div class="quickLinks" data-skeleton="true">
    <section data-container="large">
      <ul>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-1-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-2-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-1-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-2-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-1-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../assets/images/placeholder-2-1080x1080.jpg" />
            <h6>Link</h6>
          </a>
        </li>
      </ul>
    </section>
  </div>
</body>
</html>