@import '../../main.scss';
@import '../../blocks/buttonPrimary/buttonPrimary.scss';
@import '../../blocks/starRatings/starRatings.scss';
@import '../../blocks/buttonATC/buttonATC.scss';
@import '../../blocks/addToWishlist/addToWishlist.scss';
@import '../../blocks/pageHeader/pageHeader.scss';
@import '../../templates/navBar/navBar.scss';
@import '../../templates/banners/banners.scss';
@import '../../templates/quickLinks/quickLinks.scss';
@import '../../templates/slider/slider.scss';
@import '../../templates/productCard/productCard.scss';
@import '../../templates/articleCard/articleCard.scss';
@import '../../templates/footer/footer.scss';

.promoBanner-100 {
  margin-bottom: 0;
  .bannerContent {
    padding-top: 0;
  }
  @media only screen and (min-width: $mobile-large) {
    .bannerContent {
      padding-left: $size-48;
    }
  }
  @media only screen and (min-width: $tablet) {
    .bannerContent {
      width: 40%;
      padding-left: $size-96;
    }
  }
}

.nataleLego .pageHeader {
  padding-top: $size-32;
  padding-bottom: $size-32;
  // background-color: #33a19d;
}

.festeDivertenti {
  .pageHeader {
    padding: $size-24 0;
    background-image: url('https://www.lego.com/cdn/cs/set/assets/blt5eb4e078c4172c19/Holiday2022-Landing-202208-Inpage-Nav-Large.jpg?fit=crop&format=jpg&quality=80&width=1600&height=90&dpr=5');
    background-position: center;
    background-size: cover;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 $size-8;
    margin-top: $size-16;
  
    li {
      margin: 0 $size-8;
    }
    @media only screen and (min-width: $mobile-large) {
      margin-top: 0;
    }
  }
}

.quickLinks-container{
  background-color: #33a19d;
}

.ideeRegalo {
  background-color: #33a19d;
  padding-bottom: $size-64;
}

