@import '../../main.scss';
@import '../../blocks/buttonPrimary/buttonPrimary.scss';
@import '../../blocks/starRatings/starRatings.scss';
@import '../../blocks/buttonATC/buttonATC.scss';
@import '../../blocks/addToWishlist/addToWishlist.scss';
@import '../../blocks/pageHeader/pageHeader.scss';
@import '../../templates/navBar/navBar.scss';
@import '../../templates/banners/banners.scss';
@import '../../templates/quickLinks/quickLinks.scss';
@import '../../templates/slider/slider.scss';
@import '../../templates/productCard/productCard.scss';
@import '../../templates/articleCard/articleCard.scss';
@import '../../templates/footer/footer.scss';

.promoBanner-100 {
  margin-bottom: 0;
  .bannerContent {
    padding-top: 0;
  }
  @media only screen and (min-width: $mobile-large) {
    .bannerContent {
      padding-left: $size-48;
    }
  }
  @media only screen and (min-width: $tablet) {
    .bannerContent {
      width: 40%;
      padding-left: $size-96;
    }
  }
}

.bannerTrovaRegali {
  .bannerContent {
    padding-top: 0;
  }
  @media only screen and (min-width: $mobile-large) {
    .bannerContent {
      padding-right: $size-48;
    }
  }
}

.nataleLego .pageHeader {
  padding-top: $size-32;
  padding-bottom: 0;
  background-color: #33a19d;
}

.festeDivertenti {
  .pageHeader {
    padding-top: $size-24;
    padding-bottom: $size-8;
    background-image: url('https://www.lego.com/cdn/cs/set/assets/blt5eb4e078c4172c19/Holiday2022-Landing-202208-Inpage-Nav-Large.jpg?fit=crop&format=jpg&quality=80&width=1600&height=90&dpr=5');
    background-position: center;
    background-size: cover;
    [data-container] {
      flex-wrap: wrap;
    }
    h1 {
      width: 100%;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin: 0 $size-8;
    margin-top: $size-16;
    li {
      margin: 0 $size-8;
    }
  }
  @media only screen and (min-width: $tablet) {
    ul { 
      margin-top: 0;
    }
    .pageHeader {
      padding-bottom: $size-24;
      & [data-container] {
        flex-wrap: nowrap;
      }
      h1 {
        width: auto;
      }
    }
  }
}

.quickLinks-container{
  background-color: #33a19d;
}

.ideeRegalo {
  background-color: #33a19d;
  padding-bottom: $size-64;
}

.setCheTuttiAmano {
  margin-bottom: $size-64;
}

.acquistaDaNoi {
  background-color: #cce7e6;
  padding-bottom: $size-16;

  @media only screen and (min-width: $mobile-large) {
    padding-bottom: $size-64;
  }
}

.centroVip {
  background-color: #33a19d;
}

