<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SitoLego/components/button-misida/buttonm.css">
    <title>Document</title>
</head>
<body>
    <div class="button-misida">
        <span class="compra_ora">Compra ora</span> 
            <img src="/SitoLego/components/button-misida/freccia-.svg" alt="freccia" height="12" width="8">
    </div>
</body>
</html>