<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css" type="text/css">
  <title>Slider</title>
</head>
<body>
  <!--
  Template options:
  1. data-skeleton-"true" = Visualizza lo scheletro del template mostrando i bordi al suo interno;
  2. data-slides="three, four" = change number of slides to show on large screen
  -->

  <!-- ************************************************************************** Slider -->
  <div class="slider" data-slides="four" data-skeleton="true">
    <section data-container="large">
      <ul class="slider-ul">
        <li class="slider-li">
          <img src="../../assets/images/placeholder-1-1080x1080.jpg">
        </li>
        <li class="slider-li">
          <img src="../../assets/images/placeholder-2-1080x1080.jpg">
        </li>
        <li class="slider-li">
          <img src="../../assets/images/placeholder-1080x1080.jpg">
        </li>
        <li class="slider-li">
          <img src="../../assets/images/placeholder-1-1080x1080.jpg">
        </li>
        <li class="slider-li">
          <img src="../../assets/images/placeholder-2-1080x1080.jpg">
        </li>
        <li class="slider-li">
          <img src="../../assets/images/placeholder-1080x1080.jpg">
        </li>
      </ul>
    </section>
  </div>
</body>
</html>