.smallBanner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.smallBanner-display {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.smallBanner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $size-32;
}

.smallBanner[data-theme=light] .smallBanner-content{
  background-color: white;
  color: black;
}

.smallBanner[data-theme=dark] .smallBanner-content{
  background-color: black;
  color: white;
}

.smallBanner[data-theme=purple] .smallBanner-content{
  background-color: #130e2f;
  color: white;
}

.smallBanner[data-theme=blue] .smallBanner-content{
  background-color: var(--blue-800);
  color: white;
}

.smallBanner[data-theme=orange] .smallBanner-content{
  background-color: var(--orange-500);
  color: black;
}

.smallBanner-content h3,
.smallBanner-content p {
  padding: $size-8 0;
}

.smallBanner-content h3 {
  @include subtitle-100(medium);
}

.smallBanner-content p {
  @include subtitle-100(regular);
}

.smallBanner-btnGroup {
  display: flex;
  flex-direction: column;
}

.smallBanner-btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $size-8 0;
}

@media only screen and (min-width: $mobile-large) {
  .smallBanner {
    justify-content: center;
    align-items: center;
  }
  .smallBanner [data-container] {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .smallBanner[data-position=right] [data-container] {
    align-items: flex-end;
    .smallBanner-content {
      text-align: right;
    }
    .smallBanner-btnGroup {
      justify-content: right;
    }
  }
  .smallBanner[data-position=left] [data-container]{
    align-items: flex-start;
    .smallBanner-content {
      text-align: left;
    }
    .smallBanner-btnGroup {
      justify-content: left;
    }
  }
  .smallBanner-content {
    width: 50%;
    padding: 0;
  }
  .smallBanner[data-theme] .smallBanner-content {
    background-color: transparent;
  }
  .smallBanner-content h3 {
    @include headline-400(regular);
    padding: $size-16 0;
  }
  .smallBanner-content p {
    @include headline-600(regular);
    padding: 0;
    margin-bottom: $size-32;
  }
  .smallBanner-btnGroup {
    flex-direction: row;
    padding: 0;
  }
  .smallBanner-btnContainer {
    padding: 0;
  }
}